<div class="auth-badge drop-shadow">
    <form>
        <div class="switch">
            <div value="login" class="active switch-option">Login</div>
            <div value="register" class="switch-option">Register</div>
        </div>

        <div class="login-form">
            <input type="text" name="login" placeholder="Login"></input>
            <input type="password" name="password" placeholder="Password"></input>
            <input type="text" name="name" placeholder="Full name" only="register"></input>
            <button class="login-button login-submit">Go</button>
        </div>
    </form>
</div>