<div class="profile-badge drop-shadow">
    <div class="profile-image">
        <img height="50" width="50" src="/api/images/test" />
    </div>

    <div class="profile-info">
        <span class="profile-name">Danil Sorokin</span>
        <span class="profile-readers">19 readers</span>
        <span class="profile-location">Odessa, Ukraine</span>
    </div>
</div>