<div class="profile-badge drop-shadow">
    <div class="profile-image">
        {{#user.avatar}}
        <img height="50" width="50" src="/api/images/{{user.avatar}}" />
        {{/user.avatar}}
        {{^user.avatar}}
        <img height="50" width="50" src="/api/images/test" />
        {{/user.avatar}}
    </div>

    <div class="profile-info">
        <span class="profile-name">{{user.name}}</span>
        <span class="profile-readers">@{{user.login}}</span>

    </div>
</div>
<span class="post-action logout">Logout</span>