<div class="profile-badge drop-shadow">
    <div class="profile-image">
        <img height="50" width="50" src="/api/images/test" />
    </div>

    <div class="profile-info">
        <span class="profile-name">{{user.name}}</span>
        <span class="profile-readers">@{{user.login}}</span>

    </div>
</div>