<div class="new-post drop-shadow">
    <textarea class="new-post-input passive" placeholder="Post something new..."></textarea>
    
    <div class="new-post-control">
        <i class="fa fa-camera" aria-hidden="true" style="color: #373737"></i>
    </div>

    <div class="new-post-submit hide">
        <span>Post</span><i class="fa fa-paper-plane" aria-hidden="true"></i>
    </div>
</div>