

<div class="single-post drop-shadow {{#post.link}}book-post{{/post.link}}" postid="{{post._id}}" component="post">
    <div class="post-header">
        <div class="post-date">{{post.date}}</div>
    </div>

    <div class="post-editable">
    <div class="post-title">{{post.title}}</div>

    

    <div class="post-body">
        {{& post.body}}
    </div>
    </div>
    {{#post.picture}}
    <div class="post-image">
        
        <img src="/api/images/{{post.picture}}"></img>

    </div>
    {{/post.picture}}

    

    

    {{#post.link}}
        <div class="purchase-block">
            <a href="{{post.link}}" target="_blank" class="purchase-link">Purchase</a>
        </div>
    {{/post.link}}
    {{^post.link}}
    <hr>
    <div class="post-dialog">
        <div class="post-share pointer post-action">
            <i class="fa fa-share post-icon " aria-hidden="true"></i>
            <span>Share</span>
        </div>
        {{#user.admin}}
        <div class="pointer post-action post-edit ">
            <i class="fa fa-pencil post-icon pointer" aria-hidden="true"></i>
            <span>Edit</span>    
        </div>
        <div class="pointer post-action post-delete ">
            <i class="fa fa-trash post-icon pointer" aria-hidden="true"></i>
            <span>Delete</span>
        </div>

        <span style="display: none" class="post-commit pointer post-action">Save Changes</span>
        <span style="display: none" class="post-cancel pointer post-action">Cancel</span>
        {{/user.admin}}
        <span style="" class="post-go pointer post-action pull-right" showif="main">Go to post</span>
    </div>
    {{/post.link}}
</div>
