.link-inserter {
    width: 400px;
    height: 115px;
    background-color: #fff;
    padding: 5px;
}

.link-inserter .input-link,
.link-inserter .input-link input {
    width: 100%;
    height: 50px;
}

.link-inserter .input-link input {
    padding: 0 10px;
    font-size: 15px;
    font-family: Signika;
    border: none;
    background: #fff;
}

.link-inserter .input-link-save {
    margin-top: 5px;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    line-height: 50px;
}